[submodule "Assets/aplause-mr/Resources/aplause-mr-task-materials"]
	path = Assets/aplause-mr/Resources/aplause-mr-task-materials
	url = https://github.com/vrsys/aplause-mr-communication-task-materials
